@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   background: rgb(255,255,255);
background: linear-gradient(232deg, rgba(255,255,255,1) 9%, rgba(233,246,246,1) 18%, rgba(241,246,255,1) 27%, rgba(241,241,255,1) 36%, rgba(248,243,249,1) 45%, rgba(243,242,252,1) 54%, rgba(255,242,253,1) 63%, rgba(241,241,255,1) 72%, rgba(241,246,255,1) 81%, rgba(241,241,255,1) 91%, rgba(255,255,255,1) 98%);
min-height: 100vh;
}
 
.fixed-header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);
      background: linear-gradient(232deg, rgba(255,255,255,1) 9%, rgba(233,246,246,1) 18%, rgba(241,246,255,1) 27%, rgba(241,241,255,1) 36%, rgba(248,243,249,1) 45%, rgba(243,242,252,1) 54%, rgba(255,242,253,1) 63%, rgba(241,241,255,1) 72%, rgba(241,246,255,1) 81%, rgba(241,241,255,1) 91%, rgba(255,255,255,1) 98%);
    }

    .header-content {
      /* padding: 10px; */
      background-color: #fff;
    }


   .gradient-heading {
      background: linear-gradient(to right, #70F679, #00C1B1, #8B00EF, #FF623E);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

main {
   margin-top:100px ;
}
.logo {
   height: 70px;
}

.gradient-button {
   border:1px solid  #C61C29;
   color: #C61C29;
   background-color: transparent;
   cursor: pointer;
   transition: background 0.3s;
}

.gradient-button:hover {
   background: linear-gradient(to right, #70F679, #00C1B1);
   color: white;
   border: 1px solid linear-gradient(to right, #8B00EF, #FF623E);;
   /* outline-color: white !important; */
   /* background: linear-gradient(to right, #8B00EF, #FF623E); */
}

.gradient-button.btn-active {
   background: linear-gradient(to right, #70F679, #00C1B1);
   color: white;
   border: 0px solid linear-gradient(to right, #8B00EF, #FF623E) !important; 
}

.next-btn {
   border:1px solid  #C61C29;
   color: #70F679;
   background-color: transparent;
}

.next-btn {
   border:1px solid #C61C29;
   color: #70F679;
   background-color: transparent;
}

.video-outer {
   width: 100%;
   position: relative;
   padding-bottom: 56.25%; /* 16:9 aspect ratio (height:width) */
   overflow: hidden;
}

.video-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.video-container iframe {
   width: 100%;
   height: 100%;
}


.card {
   background: linear-gradient(232deg, rgba(255,255,255,1) 9%, rgba(233,246,246,1) 18%, rgba(241,246,255,1) 27%, rgba(241,241,255,1) 36%, rgba(248,243,249,1) 45%, rgba(243,242,252,1) 54%, rgba(255,242,253,1) 63%, rgba(241,241,255,1) 72%, rgba(241,246,255,1) 81%, rgba(241,241,255,1) 91%, rgba(255,255,255,1) 98%);
 cursor: pointer;
}

.about .card:hover,
.about  .card.active{
   background: #e2d6d5 !important;  
}

.imgUrl {
     background-image: url('https://example.com/new-image-url.jpg');
}

.about  .card:hover {
   background-color: lightblue;
}

.about .bg-img {
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.about #selectedImage {
   max-width: 100%;
   max-height: 100%;
}

.list-item>.nav-link:hover {
   border-bottom :2px solid transparent;
}

.nav-link.active {
   border-bottom :2px solid #70F679;
}


.list-item>.nav-link:hover {
   border-bottom :2px solid #C61C29;
}

.hidden {
      display: none;
    }

    .dashoboard-main{
      height: 100vh;
      overflow-y: none;
      overflow-x:auto;
    }

    .dashbpard-content{
      width: 85vw;
      margin-left: auto;
      height: 88vh;
      margin-right: 30px;
    }

    .user-avatar{
      width: 35px;
      height: 35px;
    }

    .form-control.no-border:focus,
    .form-control.no-border:active,
    .form-control.no-border {
      border: none;
      box-shadow: none;
      outline: none;
      resize: none;
    }

    .form-control.no-border::-webkit-resizer {
      display: none;
    }

     .previewSection{
        height:  -webkit-fill-available;
     }

    .msg-area{
      height:  -webkit-fill-available;
      overflow-y: auto;
    }
    
    
    .msg-area::-webkit-scrollbar {
      display: none;
      }

    .focus-area{
      overflow-y: auto;
    }

    
    .focus-area::-webkit-scrollbar {
      display: none;
      }

 .side-bar{
   width: 170px;
}

.social-icon{
   height: 40px;
   width:  40px;
}

.fs-12{
   font-size: 12px;
}

.avata-img{
  max-width: 110px;
}

.w-33 {
   width: 32%;
   overflow-y: auto;
   overflow-x: none;
}

 .custom-radio .form-check-input:checked+.form-check-label .option-label {
            border-color:2px solid blue;
        }
         .selected-option {
        border-color: 2px solid blue;
    }

        .custom-radio .form-check-input:not(:checked)+.form-check-label .option-label {
            border-color: 2px solid white;
        }

        :focus {
      border: none;
      box-shadow: none;
    }

    .handshake-Icon{
      height: 50px;
    }

    .user-avatar-setting{
      
      width: 150px;
      height: 150px;
    }
    
    .social-data-icon{
      width: 50px;
      height: 50px;
    }

.clickable {
   z-index: 999;
}